body {
        background-color:white;
        padding: 0.5vw;
        margin-bottom: 0;
        margin-left: 8vw;
        margin-right: 8vw;
    }

h1 {
    text-align: center;
    margin-bottom: 0.5vw;
    font-size: 250%;
    font-weight: normal;
}

div.a {
    text-align: center;
    margin-bottom: 1vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

div.b {
    text-align: center;
    margin-bottom: 1vw;
    margin-top: 2vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

h2 {
    margin-bottom: 0.2vw;
    margin-top: 3.0vw;
    font-size: 200%;
    font-weight: normal;
}

div.m {
    margin-bottom: 0.2vw;
    margin-top: 1.0vw;
    font-size: 200%;

}

h3 {
    font-size: 120%;
    font-weight: normal;
}

a {
    color:#007399;
}

a:link {
    text-decoration: none;
  }

a:hover {
    text-decoration: underline;
  }

a2 {
    color: red;
  }

a2:link {
    text-decoration: none;
  }

a2:hover {
    text-decoration: underline;
  }

























