body {
        background-color:white;
        padding: 0.5vw;
        margin-bottom: 0;
    }

h1 {
    text-align: center;
    margin-bottom: 0.5vw;
    font-size: 300%;
}
div.a {
    text-align: center;
    margin-bottom: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

h2 {
    margin-bottom: 0.2vw;
    margin-top: 3.0vw;
    font-size: 200%;
}

div.m {
    margin-bottom: 0.2vw;
    margin-top: 1.0vw;
    font-size: 200%;

}

h3 {
    font-size: 120%;
}

a {
    color: mediumblue;
}

a:link {
    text-decoration: none;
  }

a:hover {
    text-decoration: underline;
  }

a2 {
    color: red;
  }

a2:link {
    text-decoration: none;
  }

a2:hover {
    text-decoration: underline;
  }





